#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}



body {
  overflow: hidden;
}


.bg-stripes {
  background: repeating-linear-gradient(
    45deg,       
    #FFD700,     
    #FFD700 10px,
    #000000 20px,
    #000000 40px
  );
  z-index: -1;
}

div[name="footerShadow"]{
  border-radius: 50px;
  background: #202123;
  box-shadow:  20px 20px 52px #151617,
               -20px -20px 52px #2b2c2f;
               
width:272px;
height:329px;
position:relative;
top:-230px;
z-index: 1;

margin-left:13px;
margin-right:59px;
margin-top:-36px;
}
